<div class="user-modal flex flex-col h-full">
  <div class="header px-3 py-2 border-b border-b-gray-200 min-h-14 flex items-center justify-start">
    <div class="modal-title">
      <h1 class="m-0 text-base">{{data?.title}}</h1>
    </div>
  </div>
  <div class="body ion-padding border-b border-b-gray-200">
    <form [formGroup]="formGroup">
      <div class="grid grid-cols-2 gap-4">
        <app-input label="First Name" type="text" id="user" [control]="formGroupControl['firstName']"
          formControlName="firstName" [controlValue]="formGroup.get('firstName')?.value" class="" />
        <app-input label="Middle Name" type="text" id="user" [control]="formGroupControl['middleName']"
          formControlName="middleName" [controlValue]="formGroup.get('middleName')?.value" class="" />
        <app-input label="Last Name" type="text" id="user" [control]="formGroupControl['lastName']"
          formControlName="lastName" [controlValue]="formGroup.get('lastName')?.value" class="" />
        @if(roleList.length){
        <app-dropdown label="Role" (onSelectionChange)="onSelectionChange($event,'roleId')" class=""
          [control]="formGroupControl['roleId']" [controlValue]="formGroup.get('roleId')?.value"
          formControlName="roleId" [options]="roleList" />
        }
        <app-input label="Email" type="email" id="user" [control]="formGroupControl['emailId']"
          formControlName="emailId" [controlValue]="formGroup.get('emailId')?.value" class="" />
        <app-input label="Mobile" type="number" id="user" [control]="formGroupControl['mobileNo']"
          formControlName="mobileNo" [controlValue]="formGroup.get('MobileNo')?.value" class="" />
        <app-input label="Password" type="password" id="user" [control]="formGroupControl['userPassword']"
          formControlName="userPassword" [controlValue]="formGroup.get('userPassword')?.value" class="" />
        <app-input label="Address" type="text" id="user" [control]="formGroupControl['userAddress']"
          formControlName="userAddress" [isMultiline]=true [controlValue]="formGroup.get('userAddress')?.value"
          class="" />
      </div>
    </form>
  </div>
  <div class="actions flex items-center h-16 justify-end p-3 gap-4">
    <mt-button [title]="'Cancel'" size="md" [isCancel]="true" [textOnly]="true" (action)="handleButtonClick($event)" />
    <mt-button [title]="isEditMode ? 'Update' : 'Save'" size="md" [icon]="'save-outline'"
      (action)="handleButtonClick($event)" />
  </div>
</div>