<div class="user-modal flex flex-col h-full">
  <div class="header px-3 py-2 border-b border-b-gray-200 min-h-14 flex items-center justify-start">
    <div class="modal-title">
      <h1 class="m-0 text-base">{{data?.title}}</h1>
    </div>
  </div>
  <div class="body ion-padding border-b border-b-gray-200">
    <form [formGroup]="formGroup">
      <div class="grid grid-cols-2 gap-4">
        <app-input label="First Name" type="text" id="user" [control]="formGroupControl['firstName']"
          formControlName="firstName" [controlValue]="formGroup.get('firstName')?.value" class="" />
        <app-input label="Middle Name" type="text" id="user" [control]="formGroupControl['middleName']"
          formControlName="middleName" [controlValue]="formGroup.get('middleName')?.value" class="" />
        <app-input label="Last Name" type="text" id="user" [control]="formGroupControl['lastName']"
          formControlName="lastName" [controlValue]="formGroup.get('lastName')?.value" class="" />
        <app-input label="Email" type="email" id="user" [control]="formGroupControl['email']" formControlName="email"
          [controlValue]="formGroup.get('email')?.value" class="" />
        <app-input label="Mobile" type="number" id="user" [control]="formGroupControl['mobile']"
          formControlName="mobile" [controlValue]="formGroup.get('mobile')?.value" class="" />
        @if(roleList.length){
        <app-dropdown label="Role" (onSelectionChange)="onSelectionChange($event,'roleId')" class=""
          [control]="formGroupControl['roleId']" [controlValue]="formGroup.get('roleId')?.value"
          formControlName="roleId" [options]="roleList" />
        }
        <app-input label="Address" type="text" id="user" [control]="formGroupControl['address']"
          formControlName="address" [isMultiline]=true [controlValue]="formGroup.get('address')?.value" class="" />
        <app-input label="Password" type="password" id="user" [control]="formGroupControl['password']"
          formControlName="password" [controlValue]="formGroup.get('password')?.value" class="" />
      </div>
    </form>
  </div>
  <div class="actions flex items-center h-16 justify-end p-3 gap-4">
    <mt-button [title]="'Cancel'" [isCancel]="true" [textOnly]="true" (action)="handleButtonClick($event)" />
    <mt-button [disabled]="formGroup.invalid" [title]="isEditMode ? 'Update' : 'Save'" [icon]="'save-outline'"
      (action)="handleButtonClick($event)" />
  </div>
</div>