<div class="add-edit-blog main ion-padding">
  <ion-content [fullscreen]="true">
    <div class="form-container">
      <form [formGroup]="formGroup">
        <div class="ion-padding grid grid-cols-3 gap-3">
          <app-input label="Enter Blog Title" class="col-span-1" formControlName="title" [control]="formGroupControl['title']" />
  
          <div class="text-editor min-h-[16rem] w-full col-span-3">
            <quill-editor class="content-editor w-full h-[16rem]" 
            [formControl]="formGroupControl['htmlText']"
            [modules]="quillConfiguration" 
            theme="snow"> </quill-editor>
          </div>
  
          <app-dropdown label="Country" class="col-span-1" [control]="formGroupControl['country']" formControlName="country" [options]="[]"/>
  
          <app-dropdown label="State" class="" [control]="formGroupControl['state']" formControlName="state" [options]="[]"/>
  
          <app-dropdown label="City" class="" [control]="formGroupControl['city']" formControlName="city" [options]="[]"/>
  
          <app-input label="Date" class="flex-grow-1" type="date" [control]="formGroupControl['date']"
          formControlName="date" />
        </div>
      </form>

      <div class="actions flex items-center justify-end">
        <mt-button title="Add Blog" (action)="handleFormSubmit()" [icon]="'document-outline'"/>
      </div>
    </div>
  </ion-content>
</div>