<div class="add-edit-blog main ion-padding" *ngIf="isDataLoaded">
  <ion-content [fullscreen]="true">
    <div class="form-container flex flex-col h-full">
      <form [formGroup]="formGroup" class="flex-grow">
        <div class="grid gap-5 grid-cols-1 md:lg:grid-cols-4 px-2">
          <div class="flex flex-col gap-2 col-span-4">
            <label>Status</label>
            <div
              class="toggle-button flex items-center justify-between p-1 max-w-40 bg-gray-300 flex-shrink-0 h-10 rounded-full"
              role="group">
              <p-button type="button" (click)="toggleActive()" [ngClass]="isActive ? getBackgroundColor() : ''">
                Active
              </p-button>
              <p-button type="button" (click)="toggleActive()"
                [ngClass]="!isActive ? getBackgroundColor() : 'text-black'">
                Inactive
              </p-button>
            </div>
          </div>
          <app-input label="Enter Blog Title" formControlName="blogTitle" [control]="formGroupControl['blogTitle']" />

          <app-input label="Date" type="date" presentaion="date" [control]="formGroupControl['blogDate']"
            [controlValue]="formGroup.get('blogDate')?.value" formControlName="blogDate"
            (inputValue)="handleInputChange($event)" />
          <div class="text-editor min-h-[16rem] w-full col-span-4">
            <quill-editor id="quillEditor" class="content-editor w-full h-[16rem]"
              [formControl]="formGroupControl['blogText']" [modules]="quillConfiguration" theme="snow"> </quill-editor>
          </div>
          <image-picker [fileName]="imageName" [src]="imagePath" label="Add Image"
            (selectedImage)="handleSelectedImage($event)" />
        </div>
      </form>

      <div class="actions flex items-center justify-end p-2">
        <mt-button size="small" [title]="blogId > 0 ? 'Update Blog' : 'Save Blog'" (action)="handleFormSubmit()"
          [icon]="'document-outline'" />
      </div>
    </div>
  </ion-content>
</div>