<div class="conact-info-container h-full flex flex-col items-start justify-center ion-padding">
  <form [formGroup]="formGroup" class="ion-padding w-full flex-grow">
    <div class="grid gap-5 grid-cols-1 md:lg:grid-cols-4">
      <!-- <app-dropdown label="Contact Of" class="" [control]="formGroupControl['contactOf']" formControlName="contactOf"
        [options]="[]" /> -->

      <app-input label="Contact Number" [controlValue]="formGroup.get('contactNumber')?.value" class="flex-grow"
        type="number" [control]="formGroupControl['contactNumber']" formControlName="contactNumber" />

      <app-input label="WhatsApp Number" class="flex-grow" type="number"
        [controlValue]="formGroup.get('whatsAppNumber')?.value" [control]="formGroupControl['whatsAppNumber']"
        formControlName="whatsAppNumber" />

        <app-input label="Email" class="flex-grow" type="email"
        [controlValue]="formGroup.get('email')?.value" [control]="formGroupControl['email']"
        formControlName="email" />

      @if (countryList.length) {
      <app-dropdown label="Country" class="" [control]="formGroupControl['countryId']"
        [controlValue]="formGroup.get('countryId')?.value"
        (onSelectionChange)="onSelectionChange($event, 'countryId')" formControlName="countryId"
        [options]="countryList" />
      }

      @if (stateList.length) {
      <app-dropdown label="State" class="" [control]="formGroupControl['stateId']" formControlName="stateId"
        [controlValue]="formGroup.get('stateId')?.value"
        (onSelectionChange)="onSelectionChange($event, 'stateId')" [options]="stateList" />
      }

      @if (cityList.length) {
      <app-dropdown label="City" class="" [control]="formGroupControl['cityId']" formControlName="cityId"
        [controlValue]="formGroup.get('cityId')?.value" (onSelectionChange)="onSelectionChange($event, 'cityId')"
        [options]="cityList" />
      }

      <app-input label="Home Address" class="flex-grow col-span-3" type="text"
        [control]="formGroupControl['homeAddress']" [controlValue]="formGroup.get('homeAddress')?.value"
        formControlName="homeAddress" [isMultiline]=true />
    </div>
  </form>
  <div class="action-buttons ion-padding-horizontal max-h-14 w-full flex items-center justify-end gap-5">
    <mt-button [size]="'md'" [disabled]="completedStep.isCompleted" title="Previous" [icon]="'arrow-back'" [iconSlot]="'start'"
      (action)="handleClickOnPrevious('contact')" />
    <mt-button [size]="'md'" title="Next" [icon]="'arrow-forward'" [iconSlot]="'end'" (action)="handleClickOnNext('personal')" />
  </div>
</div>