<div class="personal-info-container h-full flex flex-col items-start justify-center ion-padding">
  <form [formGroup]="formGroup" class="ion-padding w-full flex-grow">
    <div class="grid grid-cols-3 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 md:lg:gap-4">
      <app-dropdown label="Contact Of" class="" [control]="formGroupControl['contactOf']" formControlName="contactOf"
        [options]="[]" />

      <app-input label="Contact Number" class="flex-grow-1" type="number" [control]="formGroupControl['contactNumber']"
        formControlName="contactNumber" />

      <app-input label="WhatsApp Number" class="flex-grow-1" type="number"
        [control]="formGroupControl['whatsAppNumber']" formControlName="whatsAppNumber" />

      <app-dropdown label="Country" class="" [control]="formGroupControl['country']" formControlName="country"
        [options]="[]" />

      <app-dropdown label="State" class="" [control]="formGroupControl['state']" formControlName="state"
        [options]="[]" />

      <app-dropdown label="City" class="" [control]="formGroupControl['city']" formControlName="city" [options]="[]" />

      <app-input label="Home Address" class="flex-grow-1 col-span-3" type="text"
        [control]="formGroupControl['homeAddress']" formControlName="homeAddress" [isMultiline]=true />
    </div>
  </form>
  <div class="action-buttons ion-padding-horizontal max-h-14 w-full flex items-center justify-end gap-5">
    <mt-button [disabled]="completedStep.isCompleted" title="Previous" [icon]="'arrow-back'" [iconSlot]="'start'"
      (action)="handleClickOnPrevious('contact')" />
    <mt-button title="Next" [icon]="'arrow-forward'" [iconSlot]="'end'" (action)="handleClickOnNext('personal')" />
  </div>
</div>