<div class="personal-info-container ion-padding">
  <form [formGroup]="formGroup" class="ion-padding">
    <div class="grid grid-cols-3 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 md:lg:gap-4">
      <app-input label="First Name" type="text" class="flex-grow-1" [control]="formGroupControl['firstName']"
        formControlName="firstName" [required]="true" />

      <app-input label="Last Name" class="flex-grow-1" type="text" [control]="formGroupControl['lastName']"
        formControlName="lastName" />
      <app-input label="Surname" class="flex-grow-1" type="text" [control]="formGroupControl['surName']"
        formControlName="surName" />

      <app-input label="Date Of Birth" class="flex-grow-1" type="date" [control]="formGroupControl['dateOfBirth']"
        formControlName="dateOfBirth" />

      <app-input label="Occupation" class="flex-grow-1" type="text" [control]="formGroupControl['occupation']"
        formControlName="occupation" />


      <app-dropdown label="Gender" class="" [control]="formGroupControl['gender']" formControlName="gender"
        [options]="[]" />

      <app-dropdown label="Marital Status" class="" [control]="formGroupControl['maritalStatus']"
        formControlName="maritalStatus" [options]="[]" />

      <app-dropdown label="Height" class="" [control]="formGroupControl['height']" formControlName="height"
        [options]="[]" />

      <app-dropdown label="Education" class="" [control]="formGroupControl['education']" formControlName="education"
        [options]="[]" />

      <app-dropdown label="Height" class="" [control]="formGroupControl['physicalStatus']"
        formControlName="physicalStatus" [options]="[]" />

      <app-input label="Hobbies" class="flex-grow-1 col-span-2" type="text" [control]="formGroupControl['hobbies']"
        formControlName="hobbies" [isMultiline]=true />
    </div>
  </form>
  <pre class="text-xs">
      <p>Form Values: </p>
      <code>{{formGroup.value | json}}</code>
    </pre>

  <div class="action-buttons flex items-center justify-end">
    <mt-button title="Next" [icon]="'arrow-forward'" [iconSlot]="'end'" (action)="handleClickOnNext('contact')" />
  </div>
</div>