<header class="flex items-center px-4 md:max-w-full justify-between md:px-2 lg:px-8 h-full dark:bg-gray-700 dark:text-white">
  <div class="left-content flex-auto md:max-w-[15%]  lg:max-w-[15%]">
    <h1 class="m-0 text-lg font-thin">{{currentPage}}</h1>
  </div>
  <nav class="md:flex-grow lg:flex-grow">
    <ul class="flex items-center justify-end gap-4">
      <li>
        <!-- <app-search /> -->
      </li>
      <!-- <li>
        <app-dropdown />
      </li> -->
      <li>
        <app-dark-mode />
      </li>
      <li>
        <app-user-menu />
      </li>
    </ul>
  </nav>
</header>