<div class="users-content main ion-padding grid grid-cols-2 gap-y-10 gap-x-5">
  @if(isRoleActive){
  <master-data [title]="'Role'" (gridAction)="handleGridAddAction($event)" [rowData]="roleMasterRowData"
    [columnDefs]="roleMasterColumnDefs" />
  }


  <master-data [title]="'Height'" (gridAction)="handleGridAddAction($event)" [rowData]="heightMasterRowData"
    [columnDefs]="heightMasterColumnDefs" />

  <master-data [title]="'Education'" (gridAction)="handleGridAddAction($event)" [rowData]="educationMasterRowData"
    [columnDefs]="educationMasterColumnDefs" />

  <master-data [title]="'Cast'" (gridAction)="handleGridAddAction($event)" [rowData]="castMasterRowData"
    [columnDefs]="castMasterColumnDefs" />

  <master-data [title]="'Handycap'" (gridAction)="handleGridAddAction($event)" [rowData]="handycapMasterRowData"
    [columnDefs]="handycapMasterColumnDefs" />

  <master-data [title]="'User'" (gridAction)="handleGridAddAction($event)" [rowData]="userMasterRowData"
    [columnDefs]="userMasterColumnDefs" />

  <!-- 
  <master-data [title]="'Specialization'" [canAddItem]="false" (gridAction)="handleGridAddAction($event)" [rowData]="specializationMasterRowData"
    [columnDefs]="specializationMasterColumnDefs" /> -->

</div>