<div class="users-content main ion-padding grid grid-cols-2 gap-y-10 gap-x-5">
  @if (isRoleActive) {
  <master-data [title]="'Role'" [canAdd]="canRoleAdd" (gridAction)="handleGridAddAction($event)"
    [rowData]="roleMasterRowData" [columnDefs]="roleMasterColumnDefs" />
  }
  @if (isHeightActive) {
  <master-data [title]="'Height'" [canAdd]="canHeightAdd" (gridAction)="handleGridAddAction($event)"
    [rowData]="heightMasterRowData" [columnDefs]="heightMasterColumnDefs" />
  }
  @if (isEducationActive) {
  <master-data [title]="'Education'" [canAdd]="canEducationAdd" (gridAction)="handleGridAddAction($event)"
    [rowData]="educationMasterRowData" [columnDefs]="educationMasterColumnDefs" />
  }
  @if (isCastActive) {
  <master-data [title]="'Cast'" [canAdd]="canCastAdd" (gridAction)="handleGridAddAction($event)"
    [rowData]="castMasterRowData" [columnDefs]="castMasterColumnDefs" />
  }
  @if (isHandyCapActive) {
  <master-data [title]="'Handycap'" [canAdd]="canHandycapAdd" (gridAction)="handleGridAddAction($event)"
    [rowData]="handycapMasterRowData" [columnDefs]="handycapMasterColumnDefs" />
  }
  @if (isUserActive) {
  <master-data [title]="'User'" [canAdd]="canUserAdd" (gridAction)="handleGridAddAction($event)"
    [rowData]="userMasterRowData" [columnDefs]="userMasterColumnDefs" />
  }
  @if (isUserActive) {
  <master-data [title]="'Subscription Plan'" [canAdd]="canUserAdd" (gridAction)="handleGridAddAction($event)"
    [rowData]="subscriptionPlansMasterRowData" [columnDefs]="subscriptionPlansMasterColumnDefs" />
  }
  <!-- 
  <master-data [title]="'Specialization'" [canAddItem]="false" (gridAction)="handleGridAddAction($event)" [rowData]="specializationMasterRowData"
    [columnDefs]="specializationMasterColumnDefs" /> -->

</div>