<div class="p-1 w-full bg-white dark:bg-gray-700 flex items-center justify-center">
  @if (hoursData && minutesData && ampm) {
  <select name="hours" (change)="handleSelectionChange($event, 'hour')"
    class="bg-gray-50 dark:bg-gray-700 outline-none text-sm border-gray-200 rounded-md appearance-none">
    @for (item of hoursData; track $index) {
    <option [selected]="item.value === hour" class="text-sm" [value]="item.value">{{item?.title}}</option>
    }
  </select>
  <span class="px-2">:</span>
  <select name="minutes" id="minutes" (change)="handleSelectionChange($event, 'minutes')"
    class="bg-gray-50 dark:bg-gray-700 outline-none text-sm border-gray-200 rounded-md appearance-none">
    @for (item of minutesData; track $index) {
    <option [selected]="item.value === minute" class="text-sm" [value]="item.value">{{item?.title}}</option>
    }
  </select>
  <select name="ampm" id="ampm" (change)="handleSelectionChange($event, 'ampm')"
    class="bg-gray-50 dark:bg-gray-700 ml-4 outline-none text-sm border-gray-200 rounded-md appearance-none">
    @for (item of amPmData; track $index) {
    <option [selected]="item.value === ampm" class="text-sm" [value]="item.value">{{item?.title}}</option>
    }
  </select>
  }
</div>