<div class="input flex flex-col items-start backdrop-blur-md relative justify-start gap-0 dark:bg-gray-700">
  <label class="mb-2" for="username">{{label}}
  </label>
  @if(isMultiline){
  <textarea [title]="label" [name]="label" [id]="label" (blur)="onTouched()" (keyup)="handleOnChange($event)" rows="3"
    class="p-2.5" [value]="controlValue" [ngClass]="colorVarients" [placeholder]="placeholder"
    resize="false"></textarea>
  } @else if(type === 'date') {
  <div class="picker-container relative w-full h-12"
    [ngClass]="control.touched && control.invalid ? colorVarients + invalidControl : colorVarients + validControl"
    (click)="datePicker.showPicker()">
    <input type="date" #datePicker [id]="datePickerId" (focus)="'showPicker'"
      (change)="handleOnChange($event, 'dt');" />
    <div class="absolute inset-y-0 start-[88%] flex items-center pointer-events-none" (click)="datePicker.showPicker()">
      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
      </svg>
    </div>
  </div>
  } @else if(type === "text" && presentaion==="time"){
  <time-picker [value]="value" (selectedTime)="handleOnChange($event, 'time')" />
  } @else {
  <input [type]="type" [name]="label" [id]="label" (blur)="onTouched()" (keyup)="handleOnChange($event)"
    class="p-2.5 h-12"
    [ngClass]="control.touched && control.invalid ? colorVarients + invalidControl : colorVarients + validControl"
    [value]="value" [placeholder]="placeholder" [required]="isRequired">
  @if (formControlName === 'userPassword' && hasValue) {
  <button type="button" (click)="handlePasswordVisiblity()" id="togglePassword"
    class=" absolute top-10 right-4 focus:outline-none -ml-8">
    <ion-icon [name]="passwordToggleIcon"></ion-icon>
  </button>
  }
  @if (control.touched && control.invalid) {
  <div class="validation-errors px-2 bg-transparent dark:bg-gray-700 mt-[2px]">
    @if (control.hasError('required')) { <span class="text-xs font-light dark:bg-gray-700 text-red-700">{{label}} is
      required</span> }
    @if (control.hasError('min') || control.hasError('max')) { <span
      class="text-xs dark:bg-gray-700 font-light text-red-700">Please
      provide valid input</span> }
    @if (type === 'email' && control.hasError('email')) { <span
      class="text-xs dark:bg-gray-700 font-light text-red-700">Invalid
      email</span> }
    @if (type === 'number' && control.hasError('pattern')) { <span class="text-xs font-light text-red-700">Invalid
      Mobile number</span> }
    @if (type === 'password' && control.hasError('pattern')) { <span class="text-xs font-light text-red-700">Invalid
      Password</span> }
  </div>
  }
  }
</div>