<div class="input">
  <!-- @if(isMultiline){
  <ion-textarea [value]="value" [label]="label" [formControl]="control" (ionInput)="handleOnChange($event)"
    (ionBlur)="onTouched()" labelPlacement="floating" fill="outline"></ion-textarea>
  } @else {
  <ion-input [type]="type" [value]="value" [label]="label" [formControl]="control" (ionInput)="handleOnChange($event)"
    (ionBlur)="onTouched()" labelPlacement="floating" fill="outline" [required]="isRequired"/>
  } -->

  <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{label}}
  </label>
  @if(isMultiline){
  <textarea [title]="label" [name]="label" [id]="label" (blur)="onTouched()" (change)="handleOnChange($event)" rows="3" class="p-2.5" [ngClass]="colorVarients"
    [placeholder]="placeholder"></textarea>
  } @else {
  <input [type]="type" [name]="label" [id]="label" (blur)="onTouched()" (change)="handleOnChange($event)" class="p-2.5" [ngClass]="colorVarients"
  [placeholder]="placeholder" [required]="isRequired">
  }
</div>