<div class="education-modal flex flex-col h-full">
  <div class="header px-3 py-2 border-b border-b-gray-200 min-h-14 flex items-center justify-start">
    <div class="modal-title">
      <h1 class="m-0 text-base">{{data?.title}}</h1>
    </div>
  </div>
  <div class="body ion-padding border-b border-b-gray-200" [ngClass]="hasSpecializationToggle ? 'flex-grow' : ''">
    <form [formGroup]="formGroup" class="flex flex-col items-start justify-start gap-3"
      [ngClass]="hasSpecializationToggle ? 'min-h-64' : ''">
      <app-input label="Course Name" class="flex-grow-1 w-full" type="text"
        [controlValue]="formGroup.get('educationName')?.value" [control]="formGroupControl['educationName']"
        formControlName="educationName" />

      <p class="flex items-center justify-start gap-3">
        <input #hasSpecializationSelector type="checkbox" id="react-option" formControlName="hasSpecialization"
          (change)="handleEducationStateChange($event)"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600" />
        <span (click)="hasSpecializationSelector.click()" class="text-sm">Has Specialization</span>
      </p>

      @if (hasSpecializationToggle) {
      <div class="specialization-list w-full flex flex-col items-start justify-start">
        <div class="add-specialization w-[97%] px-3 py-2 flex items-center justify-between">
          <p>Add Specializations: <span class="text-xs opacity-70">(Maximum 15 items can be added)</span></p>
          <mt-button [title]="'Add Row'" [disabled]="specializationList.length === 15" [iconOnly]="true"
            [isCancel]="true" [icon]="'add-outline'" [size]="'lg'" (action)="handleAddRowClick($event)" />
        </div>
        <div class="list-container w-full max-h-72 overflow-auto ion-padding" formArrayName="specializationList">
          @for (item of specializationFormGroup.controls; track $index) {
          <div class="specialization-item w-full flex items-end justify-between gap-5 mb-3" [formGroupName]="$index">
            <app-input [label]="'Specialization Name'" [controlValue]="item?.get('specializationName')?.value"
              class="flex-grow-1 w-full" type="text" [control]="item?.get('specializationName')"
              (inputValue)="handleInputValue($event, item, $index)" formControlName="specializationName" />
            <div class="remove-specialization flex items-center justify-center h-11">
              @if (specializationList.length > 1) {
              <mt-button [iconOnly]="true" [isCancel]="true" [size]="'lg'" [icon]="'close-outline'"
                (action)="handleRemoveRowClick($index)" />
              }
            </div>
          </div>
          }
        </div>
      </div>
      }


    </form>
  </div>
  <div class="actions flex items-center h-16 justify-end p-3 gap-4">
    <mt-button [title]="'Cancel'" size="md" [isCancel]="true" [textOnly]="true" (action)="handleButtonClick($event)" />
    <mt-button [title]="isEditMode ? 'Update' : 'Save'" size="md" [icon]="'save-outline'" (action)="handleButtonClick($event)" />
  </div>
</div>