:host {
  ion-menu {
    --side-min-width: 0 !important;
    --side-max-width: 0;
  }
}

.modal-container {
  @apply h-screen w-full blur-md;
}

::ng-deep ion-modal {
  --width: 42%;
  --height: 100px;
}

::ng-deep timeout-container::part(content) {
  height: 10%;
  @apply rounded-lg;
}

::ng-deep .timeout-container {
  ion-content::part(scroll) {
    @apply flex flex-col items-center justify-center;
  }
}