<div class="login-container content main min-h-screen flex items-center justify-center">
  <div class="login-box w-3/4 h-3/4 min-h-40 min-w-40 shadow-md rounded-md">
    <div class="overlay rounded-md h-full backdrop-blur-sm w-full flex">
      <div
        class="login-form p-5 min-w-96 rounded-s-lg backdrop-blur-md bg-gradient-to-br from-br-200 to-bo-200 flex flex-col items-start gap-5 justify-start">
        <div class="header my-5  w-full flex flex-col items-start !justify-start p-3 gap-10">
          <!-- <img src="/assets/icon/logo.png" class="h-12 w-auto" /> -->
          <div class="text w-full">
            <h1 class="m-0 h1-gradient
          ">Welcome back,</h1>
            <p class="p-gradient">
              Enter your credentials to continue</p>
          </div>
        </div>
        <div class="form-cotnainer h-full flex flex-col items-start justify-between w-full p-3">
          <form [formGroup]="formGroup" class="flex flex-col items-center justify-center gap-5 w-full"
            (keydown.enter)="handleSignIn()">

            <app-input label="Mobile Number" type="number" labelColor="text-gray-700"
              [controlValue]="formGroup.get('userName')?.value" [control]="formGroupControl['userName']"
              formControlName="userName" class="flex-auto" />

            <app-input label="Password" type="password" labelColor="text-gray-700"
              [controlValue]="formGroup.get('userPassword')?.value" [control]="formGroupControl['userPassword']"
              formControlName="userPassword" class="flex-auto" />

            <div class="action w-full">
              <mt-button [disabled]="formGroup.invalid || isLoading"
                [ngClass]="isLoggedIn ? 'cursor-not-allowed pointer-events-none' : ''"
                [title]="isLoading ? 'Signing In...' : isLoggedIn ? 'Successfully Signed In' : 'Sign In'"
                [severity]="getSeverity()" [icon]="getIcon()" iconPos="right" (action)="handleSignIn()"></mt-button>
            </div>
          </form>
          <div class="_copyright w-full flex items-center justify-center">
            <p>
              &copy; Copyright 2024. {{domain}} Matrimony.
            </p>
          </div>
        </div>
      </div>
      <div class="left-content flex-grow rounded-e-lg bg-[url('/assets/image/bg.png')] bg-no-repeat bg-cover"></div>

    </div>
  </div>
</div>