.content {
	background: linear-gradient(-45deg, #ee7752, #461604, #0e2b5d, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

	p {
		@apply text-xs;
		letter-spacing: 1px;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

::ng-deep .p-button {
	@apply py-2.5 dark:text-white px-4 h-10 min-w-full mt-auto rounded-md;
}

::ng-deep .p-message-wrapper {
	@apply bg-white dark:bg-dark-900 rounded-md py-2 px-4 text-sm flex flex-col items-start justify-start gap-2;

	.p-message-detail {
		@apply m-0 p-0;
	}

	.p-message-icon,
	.p-message-close {
		@apply hidden;
	}
}

.p-inputwrapper {
	@apply w-full;

	::ng-deep .p-password {
		@apply w-full;

		.p-inputtext {
			@apply w-full p-2.5 dark:border dark:border-[#d1d5db] dark:bg-dark-950 dark:text-white text-sm;
		}
	}
}

h1, p {
	@apply m-0;
}