<ion-app>
  <ion-split-pane contentId="main-content" class="bg-slate-200 dark:bg-gray-900">
    <ion-menu class="hidden ion-no-padding border-r border-r-gray-100 md:flex lg:flex " [ngClass]="isCollapsed ? 'delay-150 duration-300 ease-out md:!w-[8%] lg:!w-[5%] md:max-w-[25%] lg:max-w-[25%]' : 'delay-150 duration-300 ease-out md:w-[20%] lg:w-[15%] md:max-w-[25%] lg:max-w-[25%]'" contentId="main-content" type="overlay">
      <ion-content class="ion-no-padding">
        <app-sidebar (isCollapsed)="handleIsCollapsed($event)"></app-sidebar>
      </ion-content>
    </ion-menu>
    <main id="main-content" class="ion-page content w-full" 
    [ngClass]="isCollapsed ? 'delay-150 duration-300 ease-out md:w-92% md:min-w-[92%] lg:min-w-[96%] lg:w-[96%]' : 'delay-150 duration-300 ease-out md:w-[80%] md:min-w-[80%] lg:min-w-[85%] lg:w-[85%]'">
      <app-layout [isCollapsed]="isCollapsed" class="w-full h-full"></app-layout>
    </main>
  </ion-split-pane>
</ion-app>