<div class="roles-modal">
  <div class="header px-3 py-2 border-b border-b-gray-200 min-h-14 flex items-center justify-start">
    <div class="modal-title">
      <h1 class="m-0 text-base">{{data?.title}}</h1>
    </div>
  </div>
  <div class="body ion-padding border-b border-b-gray-200">
    <form [formGroup]="formGroup" class="flex flex-col items-start justify-start gap-2">
      <app-input label="Role Name" class="flex-grow-1 w-full" type="text" [control]="formGroupControl['roleName']"
        formControlName="roleName" (inputValue)="handleInputChange($event)" />

      <p class="text-sm text-gray-600">
        Select access for this role:
      </p>

      <div class="access-roles-container" *ngIf="accessRoleData">
        <ul class="parent-wrapper grid w-full gap-6 md:grid-cols-3">
          @for (item of accessRoleData; track item?.id) {
          <li
            class="flex flex-col items-start gap-2 justify-start w-full p-3 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400">
            <p class="flex items-center justify-start gap-2">
              <input type="checkbox" id="react-option" (change)="handleParentStateChange($event, item)"
                [checked]="item?.enabled"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600" />
              <span class="text-xs font-bold">{{item?.moduleName}}</span>
            </p>
            <ul class="ml-4 flex flex-col items-start gap-1 justify-start w-full">
              @for (access of item?.actions; track $index) {
              <li>
                <p class="flex items-center justify-start gap-2">
                  <input type="checkbox" id="react-option" [disabled]="!item?.enabled" [checked]="access?.enabled"
                    (change)="handleChildStateChange($event, access)"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600" />
                  <span class="text-xs">{{access.action}}</span>
                </p>
              </li>
              }
            </ul>
          </li>
          }
        </ul>
      </div>
    </form>
  </div>
  <div class="actions flex items-center justify-end p-3 gap-4">
    <mt-button [title]="'Cancel'" size="md" [isCancel]="true" [textOnly]="true" (action)="handleButtonClick($event)" />
    <mt-button [title]="isEditMode ? 'Update' : 'Save'" size="md" [icon]="'save-outline'"
      (action)="handleButtonClick($event)" />
  </div>
</div>