<div class="personal-info-container h-full flex flex-col items-start justify-center ion-padding">
  <form [formGroup]="formGroup" class="ion-padding w-full flex-grow">
    <div class="grid grid-cols-3 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 md:lg:gap-4">
      <app-input label="First Name" type="text" class="flex-grow-1" [control]="formGroupControl['firstName']"
        formControlName="firstName" [controlValue]="formGroup.get('firstName')?.value" [required]="true" />

      <app-input label="Last Name" class="flex-grow-1" type="text" [control]="formGroupControl['lastName']"
        formControlName="lastName" [controlValue]="formGroup.get('lastName')?.value" />
      <app-input label="Surname" class="flex-grow-1" type="text" [control]="formGroupControl['surName']"
        formControlName="surName" [controlValue]="formGroup.get('surName')?.value" />

      <app-input label="Date Of Birth" class="flex-grow-1" type="date" [control]="formGroupControl['dateOfBirth']"
        formControlName="dateOfBirth" [controlValue]="formGroup.get('dateOfBirth')?.value" />

      <app-input label="Occupation" class="flex-grow-1" type="text" [control]="formGroupControl['occupation']"
        formControlName="occupation" [controlValue]="formGroup.get('occupation')?.value" />


      <app-dropdown label="Gender" class="" [control]="formGroupControl['gender']" formControlName="gender"
        (onSelectionChange)="onSelectionChange($event, 'gender')" [options]="genderOptions" />

      <app-dropdown label="Marital Status" class="" [control]="formGroupControl['maritalStatus']"
        formControlName="maritalStatus" [options]="maritalStatusOptions"
        (onSelectionChange)="onSelectionChange($event, 'maritalStatus')" />

      <app-dropdown label="Height" class="" [control]="formGroupControl['height']" formControlName="height"
        (onSelectionChange)="onSelectionChange($event, 'height')" [options]="[]" />

      <app-dropdown label="Education" class="" [control]="formGroupControl['education']" formControlName="education"
        (onSelectionChange)="onSelectionChange($event, 'education')" [options]="educationListOptions" />

      @if (hasSpecialization) {
      <app-dropdown label="Specialization" class="" [control]="formGroupControl['specialization']"
        formControlName="specialization" (onSelectionChange)="onSelectionChange($event, 'specialization')"
        [options]="specializationListOptions" />
      }


      <app-input label="Hobbies" class="flex-grow-1 col-span-3" type="text" [control]="formGroupControl['hobbies']"
        formControlName="hobbies" [controlValue]="formGroup.get('hobbies')?.value" [isMultiline]=true />
    </div>
  </form>
  <div class="action-buttons ion-padding-horizontal max-h-14 w-full flex items-center justify-end">
    <mt-button title="Next" [icon]="'arrow-forward'" [iconSlot]="'end'" (action)="handleClickOnNext('personal')" />
  </div>
</div>