@if (isDataAvailable) {
<div class="personal-info-container h-full flex flex-col gap-5 items-start justify-center ion-padding">
  <form [formGroup]="formGroup" class="w-full flex-grow overflow-auto p-3">
    <div class="grid gap-5 grid-cols-1 md:lg:grid-cols-4">
      <app-input label="First Name" type="text" [control]="formGroupControl['firstName']" formControlName="firstName"
        [controlValue]="formGroup.get('firstName')?.value" [required]="true" />

      <app-input label="Middle Name" type="text" [control]="formGroupControl['middleName']" formControlName="middleName"
        [controlValue]="formGroup.get('middleName')?.value" />

      <app-input label="Last Name" type="text" [control]="formGroupControl['lastName']" formControlName="lastName"
        [controlValue]="formGroup.get('lastName')?.value" />

      <app-input label="Date Of Birth" presentaion="date" type="date" [control]="formGroupControl['dateOfBirth']"
        formControlName="dateOfBirth" [controlValue]="formGroup.get('dateOfBirth')?.value || ''" />

      <app-input label="Time Of Birth" presentaion="time" type="text" [control]="formGroupControl['timeOfBirth']"
        formControlName="timeOfBirth" (inputValue)="handleInputValue($event)" />

      <app-input label="Occupation" type="text" [control]="formGroupControl['occupation']" formControlName="occupation"
        [controlValue]="formGroup.get('occupation')?.value" />

      <app-dropdown label="Gender" [control]="formGroupControl['gender']" formControlName="gender"
        (onSelectionChange)="onSelectionChange($event, 'gender')" [controlValue]="formGroup.get('gender')?.value"
        [options]="genderOptions" />

      <app-dropdown label="Marital Status" [control]="formGroupControl['maritalStatus']" formControlName="maritalStatus"
        [options]="maritalStatusOptions" [controlValue]="formGroup.get('maritalStatus')?.value"
        (onSelectionChange)="onSelectionChange($event, 'maritalStatus')" />

      <app-dropdown label="Height" [control]="formGroupControl['heightId']" formControlName="heightId"
        [controlValue]="formGroup.get('heightId')?.value" (onSelectionChange)="onSelectionChange($event, 'heightId')"
        [options]="heightListOptions" />

      <app-dropdown label="Education" [control]="formGroupControl['eduationId']" formControlName="eduationId"
        [controlValue]="formGroup.get('eduationId')?.value"
        (onSelectionChange)="onSelectionChange($event, 'educationId')" [options]="educationListOptions" />

      @if (hasSpecialization && isSpecializationDataAvailable) {
      <app-dropdown label="Specialization" [control]="formGroupControl['specializationId']"
        [controlValue]="formGroup.get('specializationId')?.value" formControlName="specializationId"
        (onSelectionChange)="onSelectionChange($event, 'specializationId')" [options]="specializationListOptions" />
      }

      <!--Optional-->
      <app-input label="Hobbies" class="col-span-3 lg:col-span-4" type="text" [control]="formGroupControl['hobbies']"
        formControlName="hobbies" [controlValue]="formGroup.get('hobbies')?.value" [isMultiline]=true />

      <p class="flex items-center justify-start gap-3">
        <input #hasSpectaclesSelector type="checkbox" id="react-option" [checked]="spectacles"
          (change)="handleSpectacleStateChange($event)"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600" />
        <span (click)="hasSpectaclesSelector.click()" class="text-sm mt-[2px] cursor-pointer select-none">
          Do you have Spectacles?</span>
      </p>

      <div class="col-span-3 lg:col-span-4 flex flex-col gap-3">
        <p class="flex items-center justify-start gap-3">
          <input #showPatrikaSelector type="checkbox" id="react-option" [checked]="showPatrika"
            (change)="handlePatrikaStateChange($event)"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600" />
          <span (click)="showPatrikaSelector.click()" class="text-sm mt-[2px] cursor-pointer select-none">Show
            Patrika</span>
        </p>
        @if (showPatrika) {
        <ul>
          @for (item of tithiList; track $index) {
          <li class="flex items-center justify-start gap-4 ml-5" [ngClass]="$index > 0 ? 'my-2' : '0'">
            <label [for]="$index" class="min-w-28 select-none">{{item?.title}}</label>
            <input type="text" [placeholder]="item?.title" [ngClass]="colorVarients" [value]="item?.value"
              [name]="item?.title" [id]="$index" (change)="handleOnTithiChange($event, item)" class="p-2.5 !w-2/6">
          </li>
          }
        </ul>
        }
      </div>

      <p class="flex items-center justify-start col-span-3 lg:col-span-4 gap-3">
        <input #isPhysicallyAbledSelector type="checkbox" id="react-option" [checked]="isPhysicallyAbled"
          (change)="isPhysicallyAbledStateChange($event)"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600" />
        <span (click)="isPhysicallyAbledSelector.click()" class="text-sm mt-[2px] cursor-pointer select-none">
          Is Physically Abled?</span>
      </p>

      @if (isPhysicallyAbled) {
      <app-dropdown label="Physical Status" [control]="formGroupControl['physicalStatus']"
        [controlValue]="formGroup.get('physicalStatus')?.value" formControlName="physicalStatus"
        (onSelectionChange)="onSelectionChange($event, 'physicalStatus')" [options]="physicalStatusListOptions" />
      @if (isOtherPhyicalCondition) {
      <app-input label="Physical Condition" type="text" [control]="formGroupControl['otherPhysicalCondition']"
        formControlName="otherPhysicalCondition" [controlValue]="formGroup.get('otherPhysicalCondition')?.value" />
      }
      }

      <app-dropdown label="Food Preferences" [control]="formGroupControl['foodPreferencesId']"
        formControlName="foodPreferencesId" (onSelectionChange)="onSelectionChange($event, 'foodPreferencesId')"
        [controlValue]="formGroup.get('foodPreferencesId')?.value" [options]="foodPreferencesListOptions" />

      <app-dropdown label="Blood Group" [control]="formGroupControl['bloodGroupId']" formControlName="bloodGroupId"
        (onSelectionChange)="onSelectionChange($event, 'bloodGroupId')"
        [controlValue]="formGroup.get('bloodGroupId')?.value" [options]="bloodGroupListOptions" />

      <app-input label="Location Of Birth" type="text" [control]="formGroupControl['locationOfBirth']"
        formControlName="locationOfBirth" [controlValue]="formGroup.get('locationOfBirth')?.value || ''" />

      <app-input label="Shake Date" presentaion="date" type="date" [control]="formGroupControl['shakeDate']"
        formControlName="shakeDate" [controlValue]="formGroup.get('shakeDate')?.value || ''" />
    </div>
  </form>
  <div class="action-buttons ion-padding-horizontal max-h-14 w-full flex items-center justify-end">
    <mt-button [disabled]="formGroup.invalid" [size]="'md'" title="Next" [icon]="'arrow-forward'" [iconSlot]="'end'"
      (action)="handleClickOnNext('personal')" />
  </div>
</div>
}