<div class="delete-modal flex flex-col h-full">
  <div class="header border-b border-b-gray-200 min-h-16 flex items-center justify-start">
    <div class="modal-title">
      <h1 class="m-0 text-base">{{data?.title}}</h1>
    </div>
  </div>
  <div class="body p-5">
    <p>
      {{messageBody}}
    </p>
  </div>
  <div class="actions flex items-center h-16 justify-end p-3 gap-4">
    <mt-button [title]="'Cancel'" size="small" [isCancel]="true" [textOnly]="true"
      (action)="handleButtonClick($event)" />
    <mt-button size="small" [title]="'Delete'" [isDelete]="true" [icon]="'pi pi-trash'"
      (action)="handleButtonClick($event)" />
  </div>
</div>