<div class="cast-modal flex flex-col h-full">
  <div class="header px-3 py-2 border-b border-b-gray-200 min-h-14 flex items-center justify-start">
    <div class="modal-title">
      <h1 class="m-0 text-base">{{data?.title}}</h1>
    </div>
  </div>
  <div class="body ion-padding border-b border-b-gray-200">
    <form [formGroup]="formGroup">
      <div class="flex flex-col gap-3 p-2">
        <app-input label="Cast" class="flex-grow-1 w-full" type="text" [controlValue]="formGroup.get('castName')?.value"
          [control]="formGroupControl['castName']" formControlName="castName" />
        <p class="flex items-center justify-start gap-3">
          <input #hasSubCastSelector type="checkbox" id="react-option" formControlName="hasSubCast"
            (change)="handleSubCastStateChange($event)"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600" />
          <span (click)="hasSubCastSelector.click()" class="text-sm">Has SubCast</span>
        </p>

        @if (hasSubCastToggle) {
        <div class="specialization-list w-full flex flex-col items-start justify-start">
          <div class="add-specialization w-full px-3 py-2 flex items-center justify-between">
            <p>Add SubCast: <span class="text-xs opacity-70">(Maximum 5 items can be added)</span></p>
            <mt-button [title]="'Add Row'" [disabled]="subCastList.length === 5" [iconOnly]="true" [isCancel]="true"
              [icon]="'add-outline'" [size]="'lg'" (action)="handleAddRowClick($event)" />
          </div>
          <div class="list-container w-full max-h-72 overflow-auto ion-padding" formArrayName="subCastList">
            @for (item of subCastFormGroup.controls; track $index) {
            <div class="specialization-item w-full flex items-end justify-between gap-5 mb-3" [formGroupName]="$index">
              <app-input [label]="'Sub Cast'" [controlValue]="item?.get('subCastName')?.value"
                class="flex-grow-1 w-full" type="text" [control]="item?.get('subCastName')"
                (inputValue)="handleInputValue($event, item, $index)" formControlName="subCastName" />

              <div class="remove-specialization flex items-center justify-center h-11">
                @if (subCastList.length) {
                <mt-button [iconOnly]="true" [isCancel]="true" [size]="'lg'" [icon]="'close-outline'"
                  (action)="handleRemoveRowClick($index)" />
                }
              </div>
            </div>
            }
          </div>
        </div>
        }
      </div>
    </form>
  </div>
  <div class="actions flex items-center h-16 justify-end p-3 gap-4">
    <mt-button [title]="'Cancel'" size="md" [isCancel]="true" [textOnly]="true" (action)="handleButtonClick($event)" />
    <mt-button [disabled]="formGroup.invalid" size="md" [title]="isEditMode ? 'Update' : 'Save'" [icon]="'save-outline'"
      (action)="handleButtonClick($event)" />
  </div>
</div>