<div class="cast-modal flex flex-col h-full">
  <div class="header border-b border-b-gray-200  flex items-center justify-start">
    <div class="modal-title">
      <h1 class="m-0 text-base">{{data?.title}}</h1>
    </div>
  </div>
  <div class="body ion-padding border-b border-b-gray-200 min-h-60" [ngClass]="
    hasSubCastToggle ? 'flex-grow' : ''">
    <form [formGroup]=" formGroup" class="flex flex-col items-start justify-start gap-3"
      [ngClass]="hasSubCastToggle ? 'min-h-64' : ''">
      @if (religionListOptions.length) {
      <app-dropdown label="Religion" class="flex-grow-1 w-full" (onSelectionChange)="onSelectionChange($event)"
        [control]="formGroupControl['religionId']" [controlValue]="formGroup.get('religionId')?.value"
        formControlName="religionId" [options]="religionListOptions" />
      }
      <app-input label="Cast" class="flex-grow-1 w-full" type="text" [controlValue]="formGroup.get('castName')?.value"
        [control]="formGroupControl['castName']" formControlName="castName" />

      <mt-checkbox formControlName="hasSubCast" label="Has SubCast" [controlValue]="formGroup.get('hasSubCast')?.value"
        [control]="formGroupControl['hasSubCast']" (onToggle)="handleSubCastStateChange($event)"></mt-checkbox>

      @if (hasSubCastToggle) {
      <div class="specialization-list w-full flex flex-col items-start justify-start">
        <div class="add-specialization w-[98%] pl-3 mr-auto py-2 flex items-center justify-between">
          <p>Add SubCast: <span class="text-xs opacity-70">(Maximum 15 items can be added)</span></p>
          <mt-button [title]="'Add Row'" [disabled]="subCastList.length === 15" [iconOnly]="true" [isCancel]="true"
            [icon]="'pi pi-plus'" [size]="'small'" (action)="handleAddRowClick($event)" />
        </div>
        <div class="list-container w-full max-h-72 overflow-auto ion-padding" formArrayName="subCastList">
          @for (item of subCastFormGroup.controls; track $index) {
          <div class="specialization-item w-full flex items-end justify-between gap-5 mb-3" [formGroupName]="$index">
            <app-input [label]="'Sub Cast'" [controlValue]="item?.get('subCastName')?.value" class="flex-grow-1 w-full"
              type="text" [control]="item?.get('subCastName')" (inputValue)="handleInputValue($event, item, $index)"
              formControlName="subCastName" />
            <div class="remove-specialization flex items-center justify-center h-11 pt-1.5">
              @if (subCastList.length > 1) {
              <mt-button [iconOnly]="true" [icon]="'pi pi-trash'" [isDelete]="true" size="small"
                (action)="handleRemoveRowClick($index)" />
              }
            </div>
          </div>
          }
        </div>
      </div>
      }
    </form>
  </div>
  <div class="actions flex items-center h-16 justify-end p-3 gap-4">
    <mt-button [title]="'Cancel'" [isCancel]="true" [textOnly]="true" (action)="handleButtonClick($event)" />
    <mt-button [disabled]="formGroup.invalid" [title]="isEditMode ? 'Update' : 'Save'" [icon]="'pi pi-save'"
      (action)="handleButtonClick($event)" />
  </div>
</div>