<!-- <button [id]="buttonId" [attr.data-dropdown-toggle]="menuId" (click)="openUserMenu()"
  class="flex text-sm bg-gray-100 w-8 h-8 p-2 hover:bg-gray-300 rounded-full md:me-0 focus:ring-4 focus:ring-gray-400 dark:focus:ring-gray-600"
  type="button">
  <span class="sr-only">Open user menu</span>
  <img [src]="iconSrc" (error)="handleImageLoadError($event)" alt="user photo">
</button>

<div [id]="menuId"
  class="z-[10000000] bg-white divide-y divide-gray-100 rounded-lg shadow w-60 dark:bg-gray-700 dark:divide-gray-600"
  [ngClass]="isOpen ? 'block absolute' : 'hidden'"
  >
  <div class="px-4 py-3 flex items-start gap-1 flex-col text-sm text-gray-900 dark:text-white">
    <div>
      @if(profileInfo) {
      <p class="text-lg">{{profileInfo?.firstName}} {{profileInfo?.middleName}}</p>
      } @else {
      <p>Could not load user</p>
      }
    </div>
    <div class="font-extralight opacity-80 truncate select-none text-sm">{{profileInfo?.emailId}}</div>
  </div> -->

<p-menu #menu [model]="profileItems" [popup]="true" appendTo="body"></p-menu>
<p-avatar (click)="menu.toggle($event)" class="flex items-end cursor-pointer"
  [image]="iconSrc" styleClass="mr-2"
  shape="circle"></p-avatar>