.border-top {
    @apply border-t border-t-gray-200
}

.active {
    @apply bg-red-400 hover:bg-red-600 dark:bg-gray-400 dark:text-white shadow-md text-white border-none
}

.active-red {
    @apply bg-red-500 hover:bg-red-600 dark:bg-gray-500 dark:text-white shadow-md text-white border-none;
}

.active-bo {
    @apply bg-bo-500 hover:bg-bo-600 dark:bg-gray-500 dark:text-white shadow-md text-white border-none;
}

.active-br {
    @apply bg-br-600 hover:bg-br-700 dark:bg-gray-500 dark:text-white shadow-md text-white border-none;
}

.hide {
    display: none;
    transition: display .1s ease-in-out;
}

.show {
    // display: block;
    animation: showAnimator .6s ease-in-out;
    display: block;
}

.logo-image,
.logo-text {
    animation: showAnimator .8s ease-in-out;
    display: flex;
}

@keyframes showAnimator {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}