<div class="sidebar-container flex flex-col min-h-screen">
  <header class="ion-no-border min-h-24 dark:bg-gray-700 dark:text-white h-[10%] py-2 flex items-center justify-center">
    @if (isSidebarExpanded) {
    <img class="logo-image w-3/4 min-h-12" src="/assets/icon/logo.png" alt="Logo" />
    } @else {
    <h1 class="logo logo-text flex items-center justify-center h-12 w-12 rounded-full shadow-lg select-none"
      [ngClass]="cssClass" title="Susangam">S</h1>
    }

  </header>
  <section class="flex-grow h-full dark:bg-gray-700 dark:text-white">
    <ul class="py-3">
      @for (item of sidebarItems; track item.id) {
      <li (click)="handleSidebarItemClick(item)" class="cursor-pointer px-3 mb-2">
        <div
          class="item-container dark:hover:bg-gray-800 dark:hover:text-white rounded-lg flex items-center gap-1 md:gap-1.5 lg:gap-1.5 h-12"
          [ngClass]="[item.isActive ? cssClass : '']">
          <div class="icon flex items-center justify-center w-full max-w-[4.5rem] min-w-[2.5rem]">
            <ion-icon class="sm:text-sm md:text-lg lg:text-2xl" [name]="item.icon"></ion-icon>
          </div>
          <p class="m-0 text-sm md:text-sm lg:text-sm toggle-item" [ngClass]="showTitles ? 'show' : 'hide'">
            {{item.title}}</p>
        </div>
      </li>
      }
    </ul>
  </section>
  <footer class="ion-no-border border-top dark:!bg-gray-700 dark:!text-white">
    <div class="footer-container flex items-center justify-between h-full">
      <div class="info pl-3">
        <span class="text-sm opacity-70 toggle-item" [ngClass]="showTitles ? 'flex' : 'hidden'">&copy; 2024</span>
      </div>
      <button class="h-14 w-14 flex items-center justify-center dark:bg-gray-700 dark:!text-white
      dark:hover:bg-gray-700 hover:bg-white" type="button" (click)="handleSidebarToggle()"
        [ngClass]="isSidebarExpanded ? '' : '!w-full'" [title]="buttonHelp">
        <ion-icon class="text-3xl text-gray-700 dark:text-white"
          name="chevron-{{sidebarToggleIcon}}-outline"></ion-icon>
      </button>
    </div>
  </footer>
</div>