<div class="sidebar-container flex flex-col min-h-screen">
  <header class="ion-no-border min-h-28 dark:bg-dark-950 dark:text-white h-[10%] py-2 flex items-center justify-center">
    @if (isSidebarExpanded) {
    <img class="logo-image w-3/4 min-h-12" [src]="logoSrc" alt="Logo" />
    } @else {
    <h1 class="logo logo-text flex items-center justify-center h-12 w-12 rounded-full shadow-lg select-none"
      [ngClass]="cssClass" title="Susangam">S</h1>
    }

  </header>
  <section class="flex-grow h-full dark:bg-dark-950 dark:text-white">
    <ul class="py-3">
      @for (item of sidebarItems; track item.id) {
      <li (click)="handleSidebarItemClick(item)" class="cursor-pointer px-3 mb-2">
        <div class="item-container dark:hover:text-white rounded-lg flex items-center gap-1 md:gap-1.5 lg:gap-1.5 h-12"
          [ngClass]="[item?.isActive ? cssClass : 'hover:bg-gray-100 dark:hover:bg-gray-800']">
          <div class="icon flex items-center justify-center w-full max-w-[4.5rem] min-w-[2.5rem]">
            <ion-icon class="sm:text-sm md:text-lg lg:text-2xl" *ngIf="item.icon" name="{{item.icon}}"></ion-icon>
            <svg *ngIf="!item.icon" class="sm:text-sm md:text-lg lg:text-2xl"
              [attr.fill]="item.isActive ? '#ffffff' : '#000000'" width="24px" height="24px" viewBox="0 0 36 36"
              version="1.1" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <polygon
                points="9.8 18.8 26.2 18.8 26.2 21.88 27.8 21.88 27.8 17.2 18.8 17.2 18.8 14 17.2 14 17.2 17.2 8.2 17.2 8.2 21.88 9.8 21.88 9.8 18.8"
                class="clr-i-outline clr-i-outline-path-1"></polygon>
              <path d="M14,23H4a2,2,0,0,0-2,2v6a2,2,0,0,0,2,2H14a2,2,0,0,0,2-2V25A2,2,0,0,0,14,23ZM4,31V25H14v6Z"
                class="clr-i-outline clr-i-outline-path-2"></path>
              <path d="M32,23H22a2,2,0,0,0-2,2v6a2,2,0,0,0,2,2H32a2,2,0,0,0,2-2V25A2,2,0,0,0,32,23ZM22,31V25H32v6Z"
                class="clr-i-outline clr-i-outline-path-3"></path>
              <path d="M13,13H23a2,2,0,0,0,2-2V5a2,2,0,0,0-2-2H13a2,2,0,0,0-2,2v6A2,2,0,0,0,13,13Zm0-8H23v6H13Z"
                class="clr-i-outline clr-i-outline-path-4"></path>
            </svg>

          </div>
          <p class="m-0 text-sm md:text-sm lg:text-sm toggle-item" [ngClass]="showTitles ? 'show' : 'hide'">
            {{item.title}}</p>
        </div>
      </li>
      }
    </ul>
  </section>
  <footer class="ion-no-border border-top dark:!bg-dark-950 dark:!text-white">
    <div class="footer-container flex items-center justify-between h-full">
      <div class="info pl-3">
        <span class="text-sm opacity-70 toggle-item" [ngClass]="showTitles ? 'flex' : 'hidden'">&copy; 2024</span>
      </div>
      <button class="h-14 w-14 flex items-center justify-center dark:bg-dark-950 dark:!text-white
      dark:hover:bg-dark-950 hover:bg-white" type="button" (click)="handleSidebarToggle()"
        [ngClass]="isSidebarExpanded ? '' : '!w-full'" [title]="buttonHelp">
        <ion-icon class="text-3xl text-gray-700 dark:text-white"
          name="chevron-{{sidebarToggleIcon}}-outline"></ion-icon>
      </button>
    </div>
  </footer>
</div>