<div class="dropdown-container flex flex-col gap-2">
  <label>{{label}}</label>
  <button #triggerButton [id]="buttonId" [attr.data-toggle]="menuId" [attr.data-dropdown-toggle]="menuId"
    data-dropdown-placement="bottom"
    class="dropdown-button flex items-center justify-between w-full gap-3 border-gray-300"
    (click)="handleDropdownToggle()" [ngClass]="colorVarients" type="button">
    <p>{{value ? value?.title : '-- Select --'}}</p>
    <ion-icon class="transition delay-150 ease-in-out" [name]="dropdownIcon"></ion-icon>
  </button>

  <!-- Dropdown menu  -->
  <div #menuEl [id]="menuId" [ngStyle]="{'width': menuWidth}"
    class="shadow-lg hidden z-[1000] bg-white rounded-lg borser border-gray-300 shadowdark:bg-gray-700">
    <div class="p-3 bg-gray-100 rounded-t-lg rounded-t-r-lg">
      <label for="input-group-search" class="sr-only">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="text" id="input-group-search"
          class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search user">
      </div>
    </div>
    <ul class="h-48 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton">
      @for(item of options; track item.id) {
      <li class="px-3 pb-3 hover:bg-gray-100 dark:hover:bg-gray-600" (click)="onItemChange(item)">
        <div class="flex items-center ps-2 rounded">
          @if(isMultiSelect) {
          <input id="checkbox-item-11" type="checkbox" value=""
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          }
          <label for="checkbox-item-11"
            class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">{{item?.title}}</label>
        </div>
      </li>
      }
    </ul>
  </div>


</div>