<div class="handy-modal flex flex-col h-full">
  <div class="header px-3 py-2 border-b border-b-gray-200 min-h-14 flex items-center justify-start">
    <div class="modal-title">
      <h1 class="m-0 text-base">{{data?.title}}</h1>
    </div>
  </div>
  <div class="body ion-padding border-b border-b-gray-200">
    <form [formGroup]="formGroup">
      <div class="flex gap-3 p-4">
        <div class="flex items-center gap-3">
          <app-input label="Disablity" type="text" id="handycap" [control]="formGroupControl['disablity']"
            formControlName="disablity" [controlValue]="formGroup.get('disablity')?.value" />
        </div>
      </div>
    </form>
  </div>
  <div class="actions flex items-center h-16 justify-end p-3 gap-4">
    <mt-button [title]="'Cancel'" size="md" [isCancel]="true" [textOnly]="true" (action)="handleButtonClick($event)" />
    <mt-button [disabled]="formGroup.invalid" size="md" [title]="isEditMode ? 'Update' : 'Save'" [icon]="'save-outline'"
      (action)="handleButtonClick($event)" />
  </div>
</div>