/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
// @import "@ionic/angular/css/normalize.css";
// @import "@ionic/angular/css/structure.css";
// @import "@ionic/angular/css/typography.css";
// @import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

/* Core Grid CSS */
@import "ag-grid-community/styles/ag-grid.css";
/* Quartz Theme Specific CSS */
@import "ag-grid-community/styles/ag-theme-quartz.css";
@import "ag-grid-community/styles/ag-theme-balham.css";
// @import "ag-grid-community/styles/ag-theme-balham-dark.css";
// @import 'ag-grid-community/styles/ag-theme-quartz-dark.css';

@import "tailwindcss/base" layer(tailwindcss);
@import "tailwindcss/components" layer(tailwindcss);
@import "tailwindcss/utilities" layer(tailwindcss);

// @import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/themes/fluent-light/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Core Grid CSS */
@import "ag-grid-community/styles/ag-grid.css";
/* Quartz Theme Specific CSS */
@import "ag-grid-community/styles/ag-theme-quartz.css";
@import "ag-grid-community/styles/ag-theme-balham.css";
// @import "ag-grid-community/styles/ag-theme-balham-dark.css";
// @import 'ag-grid-community/styles/ag-theme-quartz-dark.css';
@layer reset, primeng;

@layer reset {
  .p-dropdown {
    @apply focus:shadow-none focus:outline-none dark:bg-dark-950 dark:text-white text-sm;
  }

  .p-dropdown-label {
    @apply text-dark-800 dark:text-white;
  }

  .p-dropdown-panel {
    @apply bg-white text-dark-950 dark:bg-dark-800 dark:text-white;
  }

  .p-dropdown-item {
    @apply focus:shadow-none focus:outline-none dark:bg-dark-800 dark:text-white text-sm;
  }

  .p-checkbox .p-checkbox-box {
    @apply shadow-none outline-none;
    width: 16px;
    height: 16px;
  }

  .p-inputtext {
    @apply bg-white text-dark-800 dark:bg-dark-950 dark:text-white;
  }

  .p-button-icon-only {
    gap: 0 !important;
  }

  .p-datepicker:not(.p-datepicker-inline) {
    @apply bg-white text-dark-800 dark:bg-dark-700 dark:text-white;
  }

  .p-inputtext:focus {
    // box-shadow: inset 0 0 0 1px #0078d4;
    // border-color: #0078d4;
}
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
span:not(ag-icon) {
  // font-family: "Ubuntu", sans-serif;
  font-family: "Overpass", sans-serif !important;
  font-optical-sizing: auto;
  margin: 0;
}

.header {
  @apply flex items-center justify-start;

  .modal-title {
    @apply flex w-full h-full items-center py-2 px-4 justify-start;

    h1 {
      @apply text-base font-semibold;
    }
  }
}

.modal-default::part(content) {
  border-radius: 0 !important;
}


span,
label,
p {
  @apply font-normal text-sm;
}

.p-dialog {
  .p-dialog-header {
    .p-dialog-title {
      @apply text-lg font-semibold;
    }
  }
}

::ng-deep .p-dialog-header {
  .p-dialog-title {
    @apply text-lg font-semibold;
  }
}


.pi {
  font-family: 'primeicons' !important;
}

border-top {
  @apply border-t border-t-gray-100;
}

border-right {
  @apply border-r border-r-gray-100;
}

.ag-theme-balham .ag-icon {
  font-family: "agGridBalham" !important;
}

// @media(prefers-color-scheme: dark) {
//   .ag-icon {
//     font-family: "agGridBalham" !important;
//     background-color: red;
//   }
// }
html.dark {
  .ag-icon {
    font-family: "agGridBalham" !important;
  }
}

.main {
  @apply bg-white w-full ease-in-out dark:bg-dark-950 dark:text-white flex-grow overflow-auto;

  .header {
    @apply flex items-center justify-between min-h-16;
  }
}

::ng-deep p-checkbox {
  @apply flex items-center justify-start gap-2;
}




.h1-gradient {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  @apply text-lg md:lg:text-3xl xl:text-4xl m-0;
  background: rgb(247, 0, 104);
  background: -moz-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
  background: -webkit-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
  background: linear-gradient(to left, rgba(247, 0, 104) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70068', endColorstr='#441066', GradientType=1);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-gradient {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 1em;
  color: #ff8a01;
  font-weight: 500;
  background: rgb(247, 0, 104);
  background: -moz-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
  background: -webkit-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
  background: linear-gradient(to left, rgba(247, 0, 104) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70068', endColorstr='#441066', GradientType=1);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
}