<div class="dashboard-content main ion-padding">
  <ul class="flex items-start gap-4">
    @for (item of dashboardItems; track item.id) {
    <!-- <li
      class="block cursor-pointer max-w-sm p-6 bg-blue-500 shadow-lg shadow-blue-500  border-blue-600  hover:bg-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <p class="font-normal text-white dark:text-gray-400">{{item?.title}}</p>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white">{{item?.count}}</h5>
    </li> -->
    <li class="block cursor-pointer p-4 min-w-48 min-h-36 shadow-lg border rounded-lg" (click)="handleOnItemClick(item)" [ngClass]="cssClass">
      <p class="font-normal text-center text-white dark:text-gray-400">{{item?.title}}</p>
      <h5 class="mb-2 text-center text-4xl font-bold tracking-tight text-white dark:text-white">{{item?.count}}</h5>
      @if (item?.isLink) {
      <div class="icon-container flex items-center justify-end">
        <ion-icon class="rotate-90" [name]="item?.icon"></ion-icon>
      </div>
      }
    </li>
    }
  </ul>
</div>