::ng-deep .ql-toolbar.ql-snow {
    border: 1px solid var(--ion-color-step-300, #b3b3b3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

::ng-deep .ql-container.ql-snow {
    border: 1px solid var(--ion-color-step-300, #b3b3b3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active {
    @apply rounded-full;
    /* Add any other styles for the active state */
}

::ng-deep .toggle-button {

    .active {
        .p-button {
            @apply h-8 bg-transparent rounded-full text-white border-none;
        }
    }

    .p-button {
        @apply h-full bg-transparent rounded-full text-gray-500;
    }
}